.card-tile-overgrowth {
	background: url("./assets/chemical/Tile_Overgrowth.png");
	width: 40px;
	height: 47px;
	background-size: 40px;
	background-repeat: no-repeat;
}

.board-space-tile--overgrowth {
	background: url("./assets/chemical/Tile_Overgrowth.png");
	width: 44px;
	height: 50px;
	background-size: 44px, 50px;
}
.card-tile-imperative-settlement {
	background: url("./assets/chemical/Tile_City.png");
	width: 40px;
	height: 47px;
	background-size: 40px;
	background-repeat: no-repeat;
}

.board-space-tile--imperative-settlement {
	background: url("./assets/chemical/Tile_City.png");
	width: 44px;
	height: 50px;
	background-size: 44px, 50px;
}
.card-tile-wetlands-chemical {
	background: url("./assets/chemical/Tile_Wetland2.png");
	width: 40px;
	height: 47px;
	background-size: 40px;
	background-repeat: no-repeat;
}

.board-space-tile--wetlands-chemical {
	background: url("./assets/chemical/Tile_Wetland2.png");
	width: 44px;
	height: 50px;
	background-size: 44px, 50px;
}
.card-tile-massive-solar-farm {
	background: url("./assets/chemical/Tile_Power.png");
	width: 40px;
	height: 47px;
	background-size: 40px;
	background-repeat: no-repeat;
}

.board-space-tile--massive-solar-farm {
	background: url("./assets/chemical/Tile_Power.png");
	width: 44px;
	height: 50px;
	background-size: 44px, 50px;
}
.card-tile-ghg-factory-district {
	background: url("./assets/chemical/Tile_Factory.png");
	width: 40px;
	height: 47px;
	background-size: 40px;
	background-repeat: no-repeat;
}

.board-space-tile--ghg-factory-district {
	background: url("./assets/chemical/Tile_Factory.png");
	width: 44px;
	height: 50px;
	background-size: 44px, 50px;
}
.card-tile-military-base {
	background: url("./assets/chemical/Tile_Military.png");
	width: 40px;
	height: 47px;
	background-size: 40px;
	background-repeat: no-repeat;
}

.board-space-tile--military-base {
	background: url("./assets/chemical/Tile_Military.png");
	width: 44px;
	height: 50px;
	background-size: 44px, 50px;
}
.card-tile-great-harbor {
	background: url("./assets/chemical/Tile_Harbor.png");
	width: 40px;
	height: 47px;
	background-size: 40px;
	background-repeat: no-repeat;
}

.board-space-tile--great-harbor {
	background: url("./assets/chemical/Tile_Harbor.png");
	width: 44px;
	height: 50px;
	background-size: 44px, 50px;
}
.card-resource-building-resource {
	background-image: url(./assets/chemical/Resource_Infrastructure.jpg);
}
.chemical-icon:after {
    position: absolute;
    color:#DDD;
    border: 1px solid #222;
    background: purple;
    font-family: Prototype;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    width: 16px;
    height:16px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.4);
    content: "C";
}